.pageWrap {
  width: 100%;
  background-image: url('../../assets/mainBg-min.jpg');
  background-position: center;
  background-size: cover;
}

.userPage {
  font-size: medium;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  gap: 40px;
  min-height: 100dvh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hello {
  color: purple;
  font-size: 30px;
}

.name{
  color: purple;
}

.postForm {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 20px;
}

#titleInput {
  background-color: transparent;
  border-bottom: 1px solid purple;
  padding: 5px;
}

#texArea {
  background-color: transparent;
  padding: 10px;
  resize: none;
  height: 100px;
  width: 100%;
  border: 1px solid purple;
  border-radius: 5px;
}

#texArea:focus {
  outline: 1px solid purple;
}

#submitBtn {
  color: purple;
  outline: 1px solid purple;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 30px;
  width: min-content;
  transition: .2s;
}

#submitBtn:hover {
  -webkit-box-shadow: 0px 0px 15px -1px rgba(128, 0, 128, 0.75);
  -moz-box-shadow: 0px 0px 15px -1px rgba(128, 0, 128, 0.75);
  box-shadow: 0px 0px 15px -1px rgba(128, 0, 128, 0.75);
}

#submitBtn:disabled {
  cursor: default;
}

#submitBtn:disabled:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.noScroll {
  overflow: hidden;
}

.postslist {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 0px 9px -1px rgba(128, 0, 128, 0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(128, 0, 128, 0.75);
  box-shadow: 0px 0px 9px -1px rgba(128, 0, 128, 0.75);
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 15px;
  border-radius: 5px;
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.btn {
  user-select: none;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  border-radius: 3px;
  transition: .2s;
  opacity: .8;
}

.btn img {
  width: 30px;
  height: 30px;
  filter: invert(32%) sepia(100%) saturate(500%) hue-rotate(270deg);
}

.btn:hover {
  opacity: 1;
}

.btn:disabled {
  display: none;
}

.filters{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.searchInput{
  padding: 5px 10px;
  border: 1px solid purple;
  background-color: transparent;
  border-radius: 5px;
}

.searchInput:focus{
  outline: 1px solid purple;
}

@media (max-width:400px) {
  .hello{
    font-size: 20px;
  }
}