.modalBackGround {
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 100;
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWindow {
  -webkit-box-shadow: 0px 0px 23px -1px rgba(236, 60, 213, 0.75);
  -moz-box-shadow: 0px 0px 23px -1px rgba(236, 60, 213, 0.75);
  box-shadow: 0px 0px 23px -1px rgba(236, 60, 213, 0.75);
  width: 400px;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#titleInput {
  border-bottom: 1px solid purple;
  padding: 5px;
}

#texArea {
  padding: 10px;
  resize: none;
  height: 100px;
  width: 100%;
  border: 1px solid purple;
  border-radius: 5px;
}

#texArea:focus {
  outline: 1px solid purple;
}

#submitBtn {
  border-radius: 5px;
  color: white;
  background-color: purple;
  cursor: pointer;
  padding: 10px 30px;
  width: 100%;
}

#submitBtn:disabled {
  cursor: default;
  opacity: .8;
}

#submitBtn:disabled:hover {
  opacity: .8;
}